#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 160px;
}

.item-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1024px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablet */
  }
}

@media (max-width: 768px) {
  .item-list {
    grid-template-columns: repeat(1, 1fr); /* 1 columna en mobile */
  }
}

.item-list article {
  border: 2px solid black;
  border-radius: 14px;
  background-color: black;
  transition: 0.3s;
  padding: 20px;
  position: relative;
}

.item-list article:hover {
  border: 2px solid #f9679f;
}

.item-list article .button-add-to-cart {
  width: 100%;
}

.item-list img {
  height: 200px;
}

.item-list a {
  color: white;
}

.item-list h2 {
  font-size: 18px;
  text-align: left;
  height: 54px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-list span {
  position: absolute;
  top: 20px;
  right: 30px;
}

.item-list p {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-price {
  color: #f4146a;
  font-weight: 700;
  font-size: 20px;
}

.category-phill {
  background-color: #f9679f;
  color: black;
  border-radius: 50px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

header {
  padding: 20px;
  background-color: black;
  border-bottom: 1px solid #f9679f;;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 40px;
  width: auto;
}

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f9679f;
}

.cart {
  display: flex;
  align-items: center;
  position: relative;
}

.cart__icon {
  width: 32px;
  height: 32px;
  fill: white;
}

.cart__qty {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #f9679f;
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
}


@media (max-width: 768px) {
  .nav-links {
    gap: 10px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    justify-content: flex-start;
    margin-top: 10px;
  }
}

.pdp {
  display: flex;
  justify-content: space-between;
}

.pdp-img-container {
  width: 40%;
  padding: 50px;
  background-color: black;
  border-radius: 8px;
}

.pdp-content {
  text-align: left;
  width: 50%;
}

.qty-component {
  display: flex;
  gap: 20px;
  align-items: center;
}

.button-add-to-cart {
  background-color: #f9679f;
  padding: 8px 30px;
  margin-top: 30px;
}